body {
  background-color: rgb(122, 89, 30);
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
}

.Site {
  width: auto;
  margin: 0 20%;
  background-color: burlywood;
}

.FirstDiv,
.SecondDiv {
  margin: 0 10px 10px;
  height: auto;
}

.MainBox,
.SecondBox {
 
  width: 600px;
  display: inline-block;
  
}

.Ingr,
.Desc {
  margin: 0 auto;
  width: 600px;
  display: inline-block;
  
}

.Ingr {
  margin-right: 2%;
}

#Header {
  font-family: "Courier New", monospace, sans-serif;
  font-size: 40px;
  background-color: rgb(241, 212, 177);
  color: rgb(63, 60, 50);
  width: 400px;
  margin: 20px auto;
  padding: 10px;
}

#ImageOne {
  height: auto;
  width: 350px;
}

#Description {
  background-color: rgb(240, 208, 168);
  font-size: 35px;
  font-family: "Courier New", monospace, sans-serif;
  color: rgb(68, 63, 63);
}

.Description {
  background-color: rgb(240, 208, 168);
  font-size: 20px;
  font-weight: 600;
}

#Ingredients,
#Steps {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#Ingredients {
  background-color: rgb(240, 208, 168);
  color: rgb(68, 63, 63);
  font-size: 35px;
  font-family: "Courier New", monospace, sans-serif;
  width: 300px;
}

.Ingredients {
  background-color: rgb(240, 208, 168);
  font-size: 20px;
  
}

.Ingredients p {
  font-size: 30px;
}

#Steps {
  background-color: rgb(240, 208, 168);
  font-size: 35px;
  font-family: "Courier New", monospace, sans-serif;
  color: rgb(68, 63, 63);
  width: 200px;
}

.Steps {
  background-color: rgb(240, 208, 168);
  font-size: 20px;
}

#Home-page {
  color: darkred;
  font-size: 40px;
}

